@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
    font-family: 'Poppins' , sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    place-items: center;
}

.song-container{
    width: 30rem;
    height: 50rem;
    background-color: rgb(255, 153, 0);
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0 , 0 , 0.5);
    padding: 3rem;
    text-align: center;
}

.song-container #song-name{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    color: black;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0 , 0 , 0 , 0.6);
}

.song-container #artist-name{
    color: rgba(31, 16, 16, 0.477);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

.img-container{
    width: 25rem;
    height: 25rem;
    margin: auto;
}

img{
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    object-fit: cover;
}

.song-controls{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.song-controls .fa-solid{
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.song-controls .main-btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    color: whitesmoke;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-controls .fa-solid:hover{
    color: grey;
}

.song-controls .main-btn:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0, 0, 0, 0.3);
}

/* animation for song image  */

.effect{
    animation: rotate 5s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
